<div class = "jumbotron text-center">
  <h1>Crear Punto</h1>
</div>


<%= render 'form', register: @register %>


<div class = "container text-center">
  <%= link_to 'Atrás', registers_path, class: "btn btn-default btn-lg"   %>
</div>
