

<!--<%= link_to "Registrar Punto", registers_path %>
<%= link_to "Ingresar Llamada", calls_path %>
-->

<div class="jumbotron text-center">
 <h1>CRISTORO</h1>
 <br>
 <h3>Plataforma para registros de reciclaje.</h3>
</div>
